# “k9-tail” is part of the Key9 (https://k9.io) service. This service 
# “follows” authentication log files and sends them the Key9. This 
# information is used to identify which SSH public keys are being 
# utilized and tracks successful and unsuccessful login attempts. While
# this service is not mandatory for Key9 SSH to operate, it does 
# provide valuable information.

[Unit]
Description=Key9 Tail
After=network-online.target
Wants=network-online.target

[Service]
User=root
ExecStart=/opt/k9/bin/k9-tail
Restart=always
RestartSec=10
TimeoutStopSec=90
KillMode=process

OOMScoreAdjust=-900
SyslogIdentifier=k9-tail

[Install]
WantedBy=multi-user.target
